{
  "extends": ["alloy", "alloy/typescript"],
  "plugins": ["simple-import-sort", "import"],
  "env": {
    "node": true,
    "jest": true,
    "es2021": true
  },
  "rules": {
    "import/first": "error",
    "import/newline-after-import": "error",
    "import/no-duplicates": "error",
    "simple-import-sort/exports": "error",
    "simple-import-sort/imports": [
      "error",
      {
        "groups": [
          ["^\\u0000"],
          ["^\\w"],
          ["^@"],
          ["^\\.\\.(?!/?$)", "^\\.\\./?$"], // Parent imports and ".."
          ["^\\./(?=.*/)(?!/?$)", "^\\.(?!/?$)", "^\\./?$"] // Same folder imports and "."
        ]
      }
    ],
    "eqeqeq": ["error", "always", { "null": "ignore" }],
    "max-nested-callbacks": ["error", 4],
    "max-params": ["error", 4],
    "no-eq-null": "off",
    "@typescript-eslint/method-signature-style": ["error", "method"],
    "@typescript-eslint/no-parameter-properties": "off",
    "@typescript-eslint/no-namespace": "off",
    "@typescript-eslint/naming-convention": [
      "error",
      {
        "selector": "interface",
        "format": ["PascalCase"],
        "custom": {
          "regex": "^I[A-Z]",
          "match": true
        }
      }
    ],
    "@typescript-eslint/no-invalid-void-type": "off"
  }
}
